header{
    position: relative;
    padding: 25px;
    text-align: center;
}

.home_logo{
    display: inline-block;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

.home_logo img{
    vertical-align: middle;
}

.home_logo h2{
    display: inline;
}

#open_menu{
    position: absolute;
    right: 25px;
    bottom: 10px;
    font-size: 28px;
    cursor: pointer;
}

.menu{
    position: absolute;
    right: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    padding: 25px;
    background: #ffffff;
    z-index: 20;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    font-family: 'Poppins', sans-serif;
    color: rgb(101, 107, 110);
    line-height: 35px;
}

.menu ul li a{
    text-decoration: none;
}