*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background: rgb(231, 97, 8);
    color: rgb(250, 250, 250);
    padding: 25px;
    text-align: center;
}

header p{
    display: block;
    width: 80%;
    text-align: center;
    margin: auto;
}

section{
    padding-top: 50px;
    width: 95%;
    height: auto;
    margin: auto;
}

.app{
    display: flex;
    margin-bottom: 25px;
}

.app div{
    padding: 15px;
}
