input[type='text']{
    display: block;
    width: 100%;
    max-width: 250px;
    border-style: none;
    background: transparent;
    color: rgb(226, 226, 226);
    border-bottom: 1px solid rgb(162, 170, 179);
}

input[type='text']:focus{
    outline: none;
    border-color: #ffffff;
}
label{
    font-size: 12px;
    color: rgb(156, 156, 156);
}
hr{
    width: 80%;
    max-width: 300px;
    margin: 40px auto;
    color: rgb(83, 115, 129);
}

p{
    line-height: 40px;
    overflow-x: auto;
}

.precision_msg{
    position: absolute;
    color: rgb(0, 204, 255);
    top: 7px;
    right: 7px;
    font-size: 12px;
}