@import url('https://fonts.googleapis.com/css?family=Poppins|Rubik&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
html, body{
    height: 100%;
}
body{
    background: rgb(223, 223, 223);
}

.container{
    width: 100%;
    max-width: 1600px;
    height: 100%;
    margin: auto;
}
.post-header {
    padding: 15px;
    background: rgba(0, 0, 0, .2);
    font-family: 'Rubik', sans-serif;
    color: rgb(255, 255, 255);
}

.post-header a{
    margin-right: 15px;
}

.post-meta{
    margin-bottom: 9px;
}

.post-title {
    /* width: 100%; */
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 1;
    white-space:nowrap;
	overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
	-webkit-box-shadow: 0px -6px 5px -6px lightgray inset;
	-moz-box-shadow: 0px -6px 5px -6px lightgray inset;
    box-shadow: 0px -6px 5px -6px lightgray inset;
    /* text-overflow: ellipsis; */
}

.post-title::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
@media screen and (max-width: 800px) {
    .post-title {
        font-size: 22px;
    }
}
.post-header .fa{
    color: white;
    font-size: 28px;
    cursor: pointer;
}

main{
    display: flex;
    align-items: flex-start;
    height: 100%;
}

.slides_content{
    position: relative;
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    height: 100%;
    overflow-x: hidden;
}

.menu_slide{
    position: relative;
    left: 0;
    background: #f1f1f1;
    color: #160f07;
    padding: 20px;
    width: 250px;
    height: 100%;
    overflow-y: auto;
    z-index: 20;
}

#menu{
    display: none;
    margin-right: 15px;
}

.slides{
    position: relative;
    width: 100%;
    height: -webkit-calc(100% - 114px);
    height: calc(100% - 114px);
    display: flex;
    align-items: flex-start;
}

@media screen and (max-width: 800px) {
    .slides {
        height: -webkit-calc(100% - 108px);
        height: calc(100% - 108px);
    }
}

.slide{
    background: rgb(223, 223, 223);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    flex-shrink: 0;
}

.content{
    background: rgb(255, 255, 255);
    padding: 25px 25px 100px 25px;
    width: 98%;
    max-width: 750px;
    margin: 25px auto;
    font-family: 'Rubik', sans-serif;
    color: rgb(61, 61, 61);
}

.content h1{
    font-size: 28px;
    margin: 20px 0px 45px 0px;
    color: rgb(38, 82, 102);
}

.content h2{
    font-size: 22px;
    margin: 25px 0px;
    color: rgb(119, 127, 139);
}

.content .article{
    line-height: 30px;
    font-size: 20px;
}

a {
    color: #2a7ae2;
    text-decoration: none;
}
a:visited { 
    color: #1756a9;
}
a:hover { 
    color: #111; 
    text-decoration: underline; 
}

.content .image{
    display: block;
    margin: 10px auto;
    max-width: 100%;
}

.content .big_font{
    font-size: 28px;
}

.content .highlight{
    color: rgb(0, 99, 165);
    font-weight: bold;
}

.content .latex{
    overflow-x: auto;
}

.content .opaque{
    color: rgb(153, 153, 153);
}

.content table{
    width: 100%;
    height: auto;
    /* overflow-x: auto; */
    border-collapse: collapse;
    color: rgb(114, 114, 114);
}

.content table th, .content table td{
    border: 1px solid #dddddd;
    text-align: left;
    /* width: 100px; */
    max-width: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 8px;
}

.content table tr:nth-child(odd) {
    background: #d9e3e7;
}

.content ol, .content ul{
    margin-left: 30px;
}

.content ul li, .content ol li{
    margin-bottom: 25px;
    font-size: 16px;
}

.content .python_output{
    font-family: 'Poppins', sans-serif;
    color: rgb(182, 65, 45);
    white-space: nowrap;
    overflow-x: auto;
}

.buttons_content{
    position: fixed;
    width: -webkit-calc(100% - 250px);
    width: calc(100% - 250px);
    bottom: 10px;
    padding: 0px 5%;
}

.btn_action{
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    width: 50px;
    height: 50px;
    background: rgb(0, 140, 221);
    color: white;
    border-style: none;
    border-radius: 50%;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    user-select: none;
    cursor: pointer;
}
#back{
    float: left;
}
#next{
    float: right;
}

.menu-index{
    font-family: 'Poppins', sans-serif;
    padding: 15px 0px;
    border-bottom: 1px solid rgb(185, 185, 185);
    opacity: 0.4;
    cursor: pointer;
}

.menu_visible{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0;
}
.menu_invisible{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    left: 0;
}

.mask_menu{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 10;
}

.mask_load{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 30;
}

.mask_load::before{
    content: 'Loading...';
    display: block;
    position: absolute;
    width: 100px;
    height: 50px;
    left: -webkit-calc(50% - 50px);
    left: calc(50% - 50px);
    top: -webkit-calc(50% - 25px);
    top: calc(50% - 25px);
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: white;
}
@media screen and (max-width: 850px){
    .menu_slide{
        position: absolute;
        /* left: -250px; */
    }
    .slides_content, .buttons_content{
        width: 100%;
    }

    #menu{
        display: inline;
    }

    .menu_invisible{
        left: -250px;
    }

    .date_text{
        font-size: 14px;
    }
}

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }
pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Syntax highlighting styles */

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #228B22 } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight .cm { color: #228B22 } /* Comment.Multiline */
.highlight .cp { color: #1e889b } /* Comment.Preproc */
.highlight .c1 { color: #228B22 } /* Comment.Single */
.highlight .cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #a7a7a7; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #B452CD } /* Literal.Number */
.highlight .s { color: #CD5555 } /* Literal.String */
.highlight .na { color: #658b00 } /* Name.Attribute */
.highlight .nb { color: #658b00 } /* Name.Builtin */
.highlight .nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight .no { color: #00688B } /* Name.Constant */
.highlight .nd { color: #707a7c } /* Name.Decorator */
.highlight .ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #008b45 } /* Name.Function */
.highlight .nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #00688B } /* Name.Variable */
.highlight .ow { color: #8B008B } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #B452CD } /* Literal.Number.Float */
.highlight .mh { color: #B452CD } /* Literal.Number.Hex */
.highlight .mi { color: #B452CD } /* Literal.Number.Integer */
.highlight .mo { color: #B452CD } /* Literal.Number.Oct */
.highlight .sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight .sc { color: #CD5555 } /* Literal.String.Char */
.highlight .sd { color: #CD5555 } /* Literal.String.Doc */
.highlight .s2 { color: #CD5555 } /* Literal.String.Double */
.highlight .se { color: #CD5555 } /* Literal.String.Escape */
.highlight .sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight .si { color: #CD5555 } /* Literal.String.Interpol */
.highlight .sx { color: #cb6c20 } /* Literal.String.Other */
.highlight .sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight .s1 { color: #CD5555 } /* Literal.String.Single */
.highlight .ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight .bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #00688B } /* Name.Variable.Class */
.highlight .vg { color: #00688B } /* Name.Variable.Global */
.highlight .vi { color: #00688B } /* Name.Variable.Instance */
.highlight .il { color: #B452CD } /* Literal.Number.Integer.Long */
