<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
	<div class="container">
	<main>
		<section class="menu_slide menu_invisible" itemscope itemtype="http://schema.org/ItemList">
		
		</section>

		<section class="slides_content">
		<header class="post-header">
			<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
			<p class="post-meta">
				<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
					{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
					{{ page.date | date: date_format }}
				</time>
				{%- if page.author -%}
					• <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
				{%- endif -%}
			</p>

			<i class="fa fa-bars" id="menu"></i>

			<a href="/" title="Home">
				<i class="fa fa-home"></i>
			</a>
			<a href="/about" title="About">
				<i class="fa fa-question-circle"></i>
			</a>
			<a href="/privacy-policies" title="Read privacy policies">
				<i class="fa fa-user-secret"></i>
			</a>
		</header>

		<section class="slides" itemscope itemtype="http://schema.org/PresentationDigitalDocument" itemprop="articleBody">
			{{ content }}
		</section>

		<section class="buttons_content">
			<button class="btn_action" id="back">
				&lt;
			</button>

			<button class="btn_action" id="next">
				&gt;
			</button>
		</section>
		</section>
	</main>
	</div>
</body>
</html>

